{% extends 'mabase.html.twig' %}

{% block title %}Ajout produit
{% endblock %}

{% block body %}
<div class="container">
	

	<h2>Ajout Produit</h2>
	{{ form_start(monform) }}
	{{ form_widget(monform) }}
	<input type="submit" value="ajouter">
	{{ form_end(monform) }}
</div>
{% endblock %}
