{% extends 'mabase.html.twig' %}

{% block title %}Ajout produit
{% endblock %}

{% block body %}
	<h2>Details Produit</h2>


	<div class="container">
       <div class="alert alert-sucess" role="alert">
        <strong>Produit supprime avec succes</strong> .....
      </div>
	
	
{% endblock %}
